<mat-card>
  <h3>Gestión de Parroquias</h3>
  <mat-divider></mat-divider>

  <form (ngSubmit)="addParroquia()" #formUser="ngForm">
    <mat-grid-list cols="3" rowHeight="3:1">
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="nombre" type="text" minlength="2" (click)="$event.target.select()" [(ngModel)]="objParroquia.nombre"
            placeholder="Nombre" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="telefono" type="tel" minlength="7" maxlength="10" (click)="$event.target.select()" [(ngModel)]="objParroquia.telefono"
            placeholder="Teléfono" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="correo" type="email" minlength="10" (click)="$event.target.select()" [(ngModel)]="objParroquia.correo"
            placeholder="Correo" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="lat" type="number" step="0.001" (click)="$event.target.select()" [(ngModel)]="objParroquia.latitud"
            placeholder="Latitud" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="long" type="number" step="0.001" (click)="$event.target.select()" [(ngModel)]="objParroquia.longitud"
            placeholder="Longitud" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile style="text-align: center;">
        <button mat-stroked-button color="primary" [disabled]="!formUser.form.valid" style="width: 50%">Añadir</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>

  <div class="container" style="padding-left: 60px; padding-right: 60px;">
    <h4>Listado de parroquias</h4>
    <p-table [value]="lstParroquias">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Latitud</th>
          <th>Longitud</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>{{car.nombre}}</td>
          <td>{{car.telefono}}</td>
          <td>{{car.correo}}</td>
          <td>{{car.latitud}}</td>
          <td>{{car.longitud}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</mat-card>
<!-- comment -->