<div class="container">
    <div style="text-align: center"><br><br><br><br><br><br>
        <h1>GAD Manager</h1>
        <h2 style="color: #4a89dc">Bienvenid@</h2>
    </div>
    <div id="frmLogin">
        <mat-card>
            <div class="form-hint">Los campos marcados con (*) son obligatorios:</div><br>
            <form (ngSubmit)="doLogin()" #formUser="ngForm">
                <mat-form-field class="example-full-width">
                    <input matInput name="email" type="email" minlength="10" autocomplete="off" [(ngModel)]="objLogin.correo" (ngModelChange)="onChangeCorreo()"
                        placeholder="Email" required>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput name="pass" minlength="8" type="password" [(ngModel)]="objLogin.password" placeholder="Password" required>
                </mat-form-field>
                <mat-checkbox name="rememberMe" style="text-align: left" [(ngModel)]="flagRememberMe">Recuerdame!</mat-checkbox><br><br>
                <button mat-stroked-button color="primary" class="btn-block" [disabled]="!formUser.form.valid">
                    Entrar
                </button><br><br>
            </form>
            <button id="btnRegister" mat-stroked-button color="link" class="btn-block" (click)="openDialogRegister()">Registro</button><br><br>
            <a style="cursor: pointer" (click)="openDialogRecovery()">¿Olvidaste tus credenciales?</a>
        </mat-card>
    </div>
</div>

<footer style="text-align: center;">
    © 2018 Universidad Nacional de Chimborazo. Todos los derechos reservados | Diseñado por PepitoSoft
</footer>