@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/

* {
    outline: none;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: #67757c;
    font-weight: 300;
    background: #eef5f9;
}