<mat-card [style.overflow]="'auto'" [style.height.px]="'600'">
  <h3>Contenido Parroquia</h3>
  <mat-divider></mat-divider><br>
  <!--Datos Generales-->
  <h4>Datos Generales</h4>
  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput name="nombre" type="text" minlength="2" (click)="$event.target.select()" [(ngModel)]="objParroquia.nombre"
          placeholder="Nombre" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
          required>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput name="telefono" type="tel" minlength="7" maxlength="10" (click)="$event.target.select()" [(ngModel)]="objParroquia.telefono"
          placeholder="Teléfono" required>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput name="correo" type="email" minlength="10" (click)="$event.target.select()" [(ngModel)]="objParroquia.correo"
          placeholder="Correo" required>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput name="lat" type="number" step="0.001" (click)="$event.target.select()" [(ngModel)]="objParroquia.latitud"
          placeholder="Latitud" required>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput name="long" type="number" step="0.001" (click)="$event.target.select()" [(ngModel)]="objParroquia.longitud"
          placeholder="Longitud" required>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>
  <!--Autoridades-->
  <h4>Autoridades</h4>
  <mat-grid-list cols="3" rowHeight="3:1">
    <p-table [value]="objParroquia.autoridad">
      <ng-template pTemplate="caption">
        <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="displayAuto=true" label="Add"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Cargo</th>
          <th>Fecha Filiación</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Profesión</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>{{car.cedula}}</td>
          <td>{{car.nombre}}</td>
          <td>{{car.cargo}}</td>
          <td>{{car.fecha}}</td>
          <td>{{car.telefono}}</td>
          <td>{{car.correo}}</td>
          <td>{{car.profesion}}</td>

          <td>
            <button pButton type="button" (click)="deleteRowAuto(index)" icon="fa fa-close" class="ui-button-danger"></button>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </mat-grid-list><br>
  <!--Barrio/Comunidad-->
  <h4>Barrio/Comunidad</h4>
  <mat-grid-list cols="3" rowHeight="3:1">
    <p-table [value]="objParroquia.barrio">
      <ng-template pTemplate="caption">
        <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="displayBarrio=true" label="Add"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Presidente</th>
          <th>Nro. Habitantes</th>
          <th>Altitud</th>
          <th>Descripción</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>{{car.presidente}}</td>
          <td>{{car.nroHabitantes}}</td>
          <td>{{car.altitud}}</td>
          <td>{{car.descripcion}}</td>
          <td>
            <button pButton type="button" (click)="deleteRowBar(index)" icon="fa fa-close" class="ui-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-grid-list><br>
  <!-- Actividad -->
  <h4>Activiades Económicas</h4>
  <mat-grid-list cols="3" rowHeight="3:1">
    <p-table [value]="objParroquia.actividadEco">
      <ng-template pTemplate="caption">
        <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="displayAct=true;" label="Add"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>{{car.nombre}}</td>
          <td>{{car.descripcion}}</td>
          <td>
            <button pButton type="button" (click)="deleteRowAct(index)" icon="fa fa-close" class="ui-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-grid-list><br>
  <!-- Gastronomía -->
  <h4>Gastronomía</h4>
  <mat-form-field style="width: 100%">
    <textarea matInput placeholder="Descripción" [(ngModel)]="objParroquia.gastronomia"></textarea>
  </mat-form-field><br>
  <!-- Turísmo -->
  <h4>Turísmo</h4>
  <mat-form-field style="width: 100%">
    <textarea matInput placeholder="Descripción" [(ngModel)]="objParroquia.turismo"></textarea>
  </mat-form-field><br>
  <!-- Historia -->
  <h4>Historia</h4>
  <mat-form-field style="width: 100%">
    <textarea matInput placeholder="Descripción" [(ngModel)]="objParroquia.historia"></textarea>
  </mat-form-field>
  <!-- Fiestas Patronales -->
  <h4>Fiestas</h4>
  <mat-grid-list cols="3" rowHeight="3:1">
    <p-table [value]="objParroquia.fiestas">
      <ng-template pTemplate="caption">
        <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="displayFiestas=true;" label="Add"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>{{car.nombre}}</td>
          <td>{{car.descripcion}}</td>
          <td>
            <button pButton type="button" (click)="deleteRowFiesta(index)" icon="fa fa-close" class="ui-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-grid-list><br>
  <!-- Galería -->
  <h4>Galería</h4>
  <p style="color: steelblue">Tamaño máximo 2Mb.</p>

  <div class="ui-g-4 show-image" *ngFor="let entry of images;  let i = index">
    <img [(src)]=entry.source style="width: 200px; height: 175px;">
    <input class="delete" type="button" value="Eliminar" (click)="delete(i)" />
  </div>

  <form #imagenForm=ngForm>
    <div class="ui-g-12" style="text-align: center;">
      <button type="button" (click)="saveInArray()" style="width: 200px;">Subir</button>
    </div>
    <div class="ui-g-12" style="text-align: center;">
      <img [(src)]="urlImagen" style="width: 200px; height: 175px;"></div>
    <div class="ui-g-12" style="text-align: center;">
      <input type="file" #Image pButton (change)="cargaImagen($event.target.files)">
    </div>

  </form>

  <br><br>
  <button mat-stroked-button color="primary" (click)="saveAll()" style="width: 100%; text-align: center">Guardar</button>
</mat-card>


<!-- DIALOGS -->
<p-dialog header="Añadir Autoridad" [(visible)]="displayAuto" [width]="450">
  <form (ngSubmit)="save()" #formUser="ngForm">
    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="cedula" type="text" minlength="10" maxlength="10" (click)="$event.target.select()" [(ngModel)]="objAutoridad.cedula"
            placeholder="Cédula" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="nombreAut" type="text" minlength="8" (click)="$event.target.select()" [(ngModel)]="objAutoridad.nombre"
            placeholder="Nombre" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="cargoAut" type="text" minlength="8" (click)="$event.target.select()" [(ngModel)]="objAutoridad.cargo"
            placeholder="Cargo" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="fechaFiliacion" type="date" minlength="9" (click)="$event.target.select()" [(ngModel)]="objAutoridad.fechaFiliacion"
            placeholder="Fecha de Filiación" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="telefonoAut" type="text" minlength="7" maxlength="10" (click)="$event.target.select()" [(ngModel)]="objAutoridad.telefono"
            placeholder="Teléfono" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="correoAut" type="email" minlength="10" (click)="$event.target.select()" [(ngModel)]="objAutoridad.correo"
            placeholder="Correo" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="Profesion" type="text" minlength="8" (click)="$event.target.select()" [(ngModel)]="objAutoridad.profesion"
            placeholder="Profesión" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            required>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <button mat-stroked-button color="primary" style="width: 100%" [disabled]="!formUser.form.valid">Aceptar</button><br><br>
  </form>
  <button mat-stroked-button color="warn" style="width: 100%" (click)="displayBarrio=false;">Cancelar</button>
</p-dialog>

<p-dialog header="Añadir Barrio" [(visible)]="displayBarrio" [width]="450">
  <form (ngSubmit)="saveBarrio()" #formUser1="ngForm">
    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="nombrePresi" type="text" minlength="8" (click)="$event.target.select()" [(ngModel)]="objBarrio.presidente"
            placeholder="Presidente" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="nroHab" type="number" min="0" (click)="$event.target.select()" [(ngModel)]="objBarrio.nroHabitantes"
            placeholder="Numero de Habitantes" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="altitud" type="number" min="0" (click)="$event.target.select()" [(ngModel)]="objBarrio.altitud" placeholder="Altitud"
            required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="desc" type="text" minlength="7" (click)="$event.target.select()" [(ngModel)]="objBarrio.descripcion"
            placeholder="Descripción" required>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <button mat-stroked-button color="primary" style="width: 100%" [disabled]="!formUser1.form.valid">Aceptar</button><br><br>
  </form>
  <button mat-stroked-button color="warn" style="width: 100%" (click)="displayBarrio=false;">Cancelar</button>
</p-dialog>

<p-dialog header="Añadir Actividad Económica" [(visible)]="displayAct" [width]="450">
  <form (ngSubmit)="saveAct()" #formUser2="ngForm">
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="nombreAct" type="text" minlength="8" (click)="$event.target.select()" [(ngModel)]="objActividad.nombre"
            placeholder="Nombre" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <textarea matInput name="desc" [(ngModel)]="objActividad.descripcion" placeholder="Descripción" required></textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <button mat-stroked-button color="primary" style="width: 100%" [disabled]="!formUser2.form.valid">Aceptar</button><br><br>
  </form>
  <button mat-stroked-button color="warn" style="width: 100%" (click)="displayAct=false;">Cancelar</button>
</p-dialog>

<p-dialog header="Añadir Fiesta" [(visible)]="displayFiestas" [width]="450">
  <form (ngSubmit)="saveFiestas()" #formUser3="ngForm">
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput name="nombreAct" type="text" minlength="8" (click)="$event.target.select()" [(ngModel)]="objFiestas.nombre"
            placeholder="Nombre" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <textarea matInput name="desc" [(ngModel)]="objFiestas.descripcion" placeholder="Descripción" required></textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <button mat-stroked-button color="primary" style="width: 100%" [disabled]="!formUser3.form.valid">Aceptar</button><br><br>
  </form>
  <button mat-stroked-button color="warn" style="width: 100%" (click)="displayFiestas=false;">Cancelar</button>
</p-dialog>