<mat-card [style.overflow]="'auto'" [style.height.px]="'600'">
  <h3>Contenido Parroquia</h3>
  <mat-divider></mat-divider><br>
  <!--Datos Generales-->
  <h4>Datos Generales</h4>
  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput name="nombre" type="text" minlength="2" (click)="$event.target.select()" [(ngModel)]="objParroquia.nombre"
          placeholder="Nombre" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
          required>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput name="telefono" type="tel" minlength="7" maxlength="10" (click)="$event.target.select()" [(ngModel)]="objParroquia.telefono"
          placeholder="Teléfono" required>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput name="correo" type="email" minlength="10" (click)="$event.target.select()" [(ngModel)]="objParroquia.correo"
          placeholder="Correo" required>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput name="lat" type="number" step="0.001" (click)="$event.target.select()" [(ngModel)]="objParroquia.latitud"
          placeholder="Latitud" required>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput name="long" type="number" step="0.001" (click)="$event.target.select()" [(ngModel)]="objParroquia.longitud"
          placeholder="Longitud" required>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>
  <!--Autoridades-->
  <h4>Autoridades</h4>
  <mat-grid-list cols="3" rowHeight="3:1">
    <p-table [value]="lstAutoridades">
      <ng-template pTemplate="caption">
        <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="openDialogAutoridad();" label="Add"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Cargo</th>
          <th>Fecha Filiación</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Profesión</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>{{car.cedula}}</td>
          <td>{{car.nombre}}</td>
          <td>{{car.cargo}}</td>
          <td>{{car.fecha}}</td>
          <td>{{car.telefono}}</td>
          <td>{{car.correo}}</td>
          <td>{{car.profesion}}</td>
        </tr>
      </ng-template>
    </p-table>
  </mat-grid-list><br>
  <!--Barrio/Comunidad-->
  <h4>Barrio/Comunidad</h4>
  <mat-grid-list cols="3" rowHeight="3:1">
    <p-table [value]="lstBarrios">
      <ng-template pTemplate="caption">
        <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="openDialogBarrio();" label="Add"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Presidente</th>
          <th>Nro. Habitantes</th>
          <th>Altitud</th>
          <th>Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>{{car.presidente}}</td>
          <td>{{car.nroHabitantes}}</td>
          <td>{{car.altitud}}</td>
          <td>{{car.descripcion}}</td>
        </tr>
      </ng-template>
    </p-table>
  </mat-grid-list><br>
  <!-- Actividad -->
  <h4>Activiades Económicas</h4>
  <mat-grid-list cols="3" rowHeight="3:1">
    <p-table [value]="lstBarrios">
      <ng-template pTemplate="caption">
        <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="openDialogActividad();" label="Add"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>{{car.nombre}}</td>
          <td>{{car.descripcion}}</td>
        </tr>
      </ng-template>
    </p-table>
  </mat-grid-list><br>
  <!-- Gastronomía -->
  <h4>Gastronomía</h4>
  <mat-form-field style="width: 100%">
    <textarea matInput placeholder="Descripción"></textarea>
  </mat-form-field><br>
  <!-- Turísmo -->
  <h4>Turísmo</h4>
  <mat-form-field style="width: 100%">
    <textarea matInput placeholder="Descripción"></textarea>
  </mat-form-field><br>
  <!-- Historia -->
  <h4>Historia</h4>
  <mat-form-field style="width: 100%">
    <textarea matInput placeholder="Descripción"></textarea>
  </mat-form-field>
  <!-- Galería -->
  <h4>Galería</h4>
  <p-galleria [images]="images" panelWidth="500" panelHeight="313" showCaption="true"></p-galleria>
  <button mat-stroked-button color="primary" style="width: 50%; text-align: center">Guardar</button>
</mat-card>